{% extends 'base.html.twig' %}
{% block content %}
    <div class="text-center">
        <h1>Sign in</h1>
    </div>
    <form action="#" method="POST">
        {% if NULL != error  %}
            <div class="alert alert-danger fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                {{ error }}</div>
        {% endif %}
        <div class="form-group">
            <input type="text" name="username" placeholder="Username :" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password :" class="form-control">
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-default" value="Sign in !">
        </div>
        <div class="text-center">
            <a href="register.php">Not registered yet ? Register !</a>
        </div>
    </form>

{% endblock %}