{% extends 'base.html.twig' %}
{% block content %}
    <div class="text-center">
        <h1>Index</h1>
    </div>
    <div class="col-md-6">
        <div class="center-block text-center">
            <h2>Not a member yet ?</h2>
            <a href="register.php" class="btn btn-default">Register now !</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="center-block text-center">
            <h2>Already a member ?</h2>
            <a href="connexion.php" class="btn btn-default">Connect !</a>
        </div>
    </div>

{% endblock %}